.back2{
    position: fixed;
    width: 550px;
    height: 550px;
    left: 710px;
    top: 85px;
    background-color: whitesmoke;
    opacity: 100%;
    border-radius: 40px; 
}

.h10{
    position: absolute;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 180%;
    color: black;
    left: 20%;
    top: 2%;
}

.input0{
    position: absolute;
    width: 500px;
    height: 30px;
    left: 140px;
    top: 110px;
}

.input-field3{
    width: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px;
}

.input1{
    position: absolute;
    width: 400px;
    height: 25px;
    left: 175px;
    top: 180px;
}

.input-field4{
    width: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px;
}

.input2{
    position: absolute;
    width: 400px;
    height: 25px;
    left: 175px;
    top: 250px;
}

.input-field5{
    width: 50%;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px;
}

.input3{
    position: absolute;
    width: 190px;
    height: 25px;
    left: 220px;
    top: 330px;
}

.input-field6{
    width: 50%;
    cursor: pointer;
    background-color: whitesmoke;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}

.btn8{
    background-color: black;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px 10px;
    position: absolute;
    width: 90px;
    height: 40px;
    left: 230px;
    top: 400px;
}

.btn8:hover{
    color: red;
}

.btn9{
    background-color: black;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px 10px;
    position: absolute;
    width: 90px;
    height: 40px;
    left: 420px;
    top: 500px;
}

.btn9:hover{
    color: red;
}